@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rhap_container {
  background-color: theme('colors.slate.800') !important;
  box-shadow: none !important;
}

.rhap_time, .rhap_current-time {
  color: theme('colors.slate.200') !important;
}

.rhap_progress-indicator, .rhap_progress-filled, .rhap_volume-indicator {
  background-color: theme('colors.blue.500') !important;
}

.rhap_progress-container, .rhap_volume-container {
  color: theme('colors.slate.400') !important;
}

.rhap_main-controls-button, .rhap_volume-button {
  color: theme('colors.slate.200') !important;
}

.rhap_play-pause-button {
  font-size: 40px !important;
  width: 40px !important;
  height: 40px !important;
}

.rhap_container {
  padding: 10px !important;
}
